body {
  background-color: #03195B;
  color: #000000;
  margin: 0px
}

#header, #footer {
  font-family: Gabriela;
  text-align: center;
  color: #FFFFFF;
  margin: 0px;
  width: 100%;
  position: fixed;
  background-color: #03195B;
}

#header {
  font-size: 1.25em;
  height: 50px;
  top: 0px;
  padding-bottom: 10px;
  padding-top: 15px;
}

#footer {
  font-size: 1em;
  height: 25px;
  bottom: 0px;
  padding-bottom: 15px;
  padding-top: 10px;
}

.navi {
  text-align: center;
  justify-content: space-around;
}

.section {
  font-family: 'Josefin Sans';
  font-size: 1.25em;
  text-align: center;
  width: auto;
  height: 1000px;
  margin: 0px;
}

.wrap {
  padding-top: 75px;
  width: 900px;
  height: 1000px;
  margin: auto;
}

.rcolumn {
  float: right;
  width: 400px;
  padding: 25px;
}

.lcolumn {
  float: left;
  width: 400px;
  padding: 25px;
}

.rfooter {
  float: right;
  padding-right: 25px;
}

.lfooter {
  float: left;
  margin: auto;
  padding-left: 25px;
}

#sec1 {
  background: url("arab_tile.png");
}

#hellosec {
  background-color: #D6BEEA;
}

#sec2 {
  background: url("congruent_pentagon.png");
}

#likessec {
  background-color: #C4FCE3;
}

#sec3 {
  background: url("skulls.png");
}

#aboutsec {
  background-color: #F9BDB3;
}

h1, h2, h3, h6 {
  font-family: Gabriela;
  margin: 0px;
}

a, a.visited, a.active, a.hover {
  text-decoration: none;
  color: inherit;
}

#profile {
  width: 350px;
  height: auto;
}

@media (max-width: 500px){
  .section .wrap {
    height: 1600px;
    width: 400px;
    margin: auto;
  }
  .rcolumn, .lcolumn, .rfooter, .lfooter{
    float: none;
    width: 350px;
  }
}
