body {
  background-color: #FFFFFF;
  color: ##03195B;
  margin: 0px;
  align-items: center;
}

#header, #footer {
  text-align: center;
  font-family: 'Bad Script';
  color: #000000;
  width: 100%;
  position: fixed;
}

#header {
  font-size: 1.25em;
  height: 50px;
  top: 0px;
}

#footer {
  font-size: 1em;
  height: 25px;
  bottom: 0px;
  padding-bottom: 15px;
  padding-top: 10px;
  margin: auto;
}



#navi {
  font-family: 'Bad Script';
  display: -webkit-flex;
  -webkit-align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 900px;
  height: 50px;
  margin: auto;
  background-color: #FFFFFF;
}

#navi2 {
  display: -webkit-flex;
  -webkit-align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 900px;
  height: 50px;
  margin: auto;
   background-color: #FFFFFF;
 }

.section {
  font-family: 'Bad Script';
  font-size: 1em;
  text-align: center;
  width: auto;
  height: 700px;
  margin: 0px;
}

.wrap {
  padding-top: 75px;
  width: 900px;
  height: 625px;
  margin: auto;
}

.rcolumn {
  float: right;
  width: 400px;
  padding: 25px;
}

.lcolumn {
  float: left;
  width: 400px;
  padding: 25px;
}

.rfooter {
  width: 400px;
  padding-right: 25px;
  padding-leftt: 25px;
}

.lfooter {
  width: 400px;
  padding-left: 25px;
  padding-right: 25px;
}

#sec1 {
  background: url("arab_tile.png");
}

#hellosec {
  background-color: #D6BEEA;
}

#sec2 {
  background: url("congruent_pentagon.png");
}

#likessec {
  background-color: #C4FCD0;
}

#sec3 {
  background: url("skulls.png");
}

#aboutsec {
  background-color: #F9BDB3;
}

h1, h2, h3{
  font-family: 'Fredericka the Great';
  margin: 0px;
}

a, a:visited, a:active{
  text-decoration: none;
}

#section img {
  padding: 5px;
}

#navi a:hover {
  font-family: 'Fredericka the Great';
 }

.link {
  width: 32px;
  height: auto;
}

#profile {
  width: 350px;
  height: auto;
}

@media (max-width: 500px){
  #footer{
    font-size: 1em;
    height: auto;
    display: block;
  }
  .section .wrap {
    height: 100%;
    width: 400px;
    margin: auto;
  }
  #navi {
    width:350px;
  }
  .rcolumn, .lcolumn, .rfooter, .lfooter{
    float: none;
    width: 300px;
  }
}
